# NOTE: This config file is only for Node parameters; static transforms must be passed as arguments in the Launch file.

slam_toolbox:
  ros__parameters:

    mode: mapping

    map_frame: map
    odom_frame: odom
    base_frame: base_footprint
    scan_topic: /scan

    publish_tf: true
    pub_map_to_odom: true
    transform_publish_period: 0.05

    use_scan_matching: true
    minimum_travel_distance: 0.05
    minimum_travel_heading: 0.05

    resolution: 0.05
    max_laser_range: 12.0
    throttle_scans: 1

    map_update_interval: 2.0
    use_sim_time: false
